.index-header {
    font-family: 'Inconsolata', sans-serif;
    color: black;
    font-weight: 800;
    margin-bottom: 0px;
}

.index-sub_header{
    font-family: 'Inconsolata', sans-serif;
    color: black;
    font-size: xx-large;
    margin-top: 0px;
}